@font-face {
  font-family: 'Azonix';
  src: url('./fonts/Azonix.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: #0b0b0e;
  --text-color: #ffffff;
  --padding: 5px !important;
  --gamba-ui-border-radius: 20px;

  --gamba-ui-button-default-background: linear-gradient(to right, #7e0000, #cb0f0f); /* Gradient for default button background */
  --gamba-ui-button-default-background-hover: linear-gradient(to right, #7e0000, #d90a0e); /* Gradient for default button background on hover */
  --gamba-ui-button-default-color: white;

  --gamba-ui-button-main-background: linear-gradient(to right, #7e0000, #c01520); /* Gradient for main button background */
  --gamba-ui-button-main-background-hover: linear-gradient(to right, #7e0000, #e91b1b); /* Gradient for main button background on hover */

  --gamba-ui-input-background: #0e0e16;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #11111d;
}

body, input, button, textarea, pre {
  font-family: 'Azonix', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

h1, h2 {
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ee141f;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  background: rgb(55, 57, 82);
  border-radius: 10px;
}
